*{
    margin: none;
}
a{
    text-decoration-line: none;
    font-size: 3rem;
    background-color: rgb(0, 0, 255, 0.5);
    color: aliceblue;
    text-align: center;
    border-radius: 10px;
}
body{
    font-family: fantasy;
    background-color: pink;
    background-image: url(./assets/fotos/portada.jpg);
    background-position: contain;
    background-position-x: center;    
}
.principal{
    margin-top: 10rem;
}
.gracias{
    margin-top: 1rem;
    font-size: 3rem;
    font-family: cursive;
    font-weight: bold;
    color: aliceblue;
    text-shadow: 2px 5px 5px black;
}

.pink{
    background-image: none;
    background-color: pink;
    /* background-image: linear-gradient(25deg, pink); */
}
.galeria{
    filter: drop-shadow(0 0 10px yellow);
}
.foto{
    border-radius: 10px;
    margin: 1rem 0;
}

@media (max-width: 480px){
    .gracias{
        display: none;
    }
}